body{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 31px;
    color: #777;
    background: white;
}

form{
   margin: auto;
    padding-bottom: 30px;
}

table {
    background-color: #afa54c38;
    color: #493D49;
    margin: auto;
    margin-top: 1%;
    font-size:small;
    height: 500px;
    width: 90%;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
input, select, textarea {
    width: 90%;
    background-color: transparent;
    color: #493D49;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0;
    margin: 0 0 5px;
    padding: 10px;

}
#male, #female{
    width: 5%;
}
td{
    text-align: center;

}

#ABANDONNER{
    width: 5%;
}

input[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #afa54c;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }

input[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
input[type="submit"]:hover {
    background: #afa54c;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
